<div style= "background-color: #aac7f3;"><br></div>
<p style="text-align:center;"><%= link_to image_tag("barkinglot.jpg", class: "img-responsive center-block") %> </p>

<div style= "background-color: #aac7f3;"><br></div>
<h1 style="text-align:center;", " color: rgb(46, 26, 228);">Welcome to The Barking Lot!</h1>
<div style= "background-color: #aac7f3;"><br></div>





<p> The seed for The Barking Lot was planted several years back when I took in my first foster dog, Patti Cake. It was my hope to make a difference by providing a home for one of my favorite furry friends.
Before I knew it, I was put on a rescue email list and received a message stating, “This dog to be put down on Tuesday at 3pm.” I was utterly horrified and jumped into action, trying to figure out how I could save her. Well save her I did and I’m glad to report Raspberry (my nephew named her) is living happily in Encinitas to this day! After getting her adopted, I thought, “Well, that wasn’t so tough.” And so it goes…5 years later and more than 3,000 dogs adopted into loving homes…we have The Barking Lot.</p>

<p>As well as being wonderful companions, dogs are amazing teachers and we’ve learned so much from them. First and foremost that they all deserve a chance at a better life and their behavior will balance beautifully if their needs are meet and good leadership is applied. These pups are the most grateful creatures you’ve ever encountered if given the right environment. We rescue our recruits from area shelters, humane societies and Mexico as they are at risk of being euthanized and/or abandoned.</p>

<p>We are a small organization with a handful of key volunteers and we strive to ensure we find a great match for each pooch so that they’ll be happy, settled & have their needs fulfilled in their Permanent Barking spots. Satisfied pups make for happy people when it comes to a forever home.</p>

<p>We are a 501c3 non-profit organization and are happy to announce the opening of our first Barking Structure (rescue facility). With our new home base, we will be able to help even more dogs. To do this, we need more volunteers to add to the fun and reward! We need both people and donations to help fulfill our vision of saving as many furry friends as possible and we’re grateful for either.</p>

<p>Thanks for choosing rescue,</p>
<p>Stacy Parmer</p>

<p>Founder, The Barking Lot</p>

<div style= "background-color: #aac7f3;"><br></div>
<p style="text-align:center;"><%= link_to image_tag("furever.jpg",  class: "img-responsive center-block") %><%= link_to image_tag("humanesociety.jpg",  class: "img-responsive center-block") %><%= link_to image_tag("mission.jpg",  class: "img-responsive center-block") %> </p>
<div style= "background-color: #aac7f3;"><br></div>